  <p>
    <%= form.label :username, 'Choose a user name' %>
    <%= form.text_field :username %>
  </p>
  <p>
    <%= form.label :email, 'Email address' %>
    <%= form.text_field :email %>
  </p>
  <p>
    <%= form.label :password, form.object.new_record? ? nil : "Change password" %>
    <%= form.password_field :password, :size => 40 %>
  </p>
  <p>
    <%= form.label :password_confirmation, 'Confirm password' %>
    <%= form.password_field :password_confirmation, :size => 40 %>
  </p>
